streamlit
pandas
numpy
requests
plotly
matplotlib
shap
seaborn
altair
bokeh
scikit-learn
xgboost
catboost
lime
scipy
pyarrow
fsspec
sqlalchemy
dask
joblib
mlflow
pyyaml
fastapi
uvicorn
gunicorn
python-dotenv
tqdm
psycopg2
lightgbm
